html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.gameBoard{
/*with:100px;
height:100px;*/
background-color: light-gray;
}

.gameBoard td {
width: 40px;
height:40px;
background-color:blue;
}

table, th, td {
   border: 1px solid black;
}

#MyBoard .ship{
background-color: orange;
}
.shippyTips{
       float: right;
       margin-left: 600px;
       margin-top: -465px;
       border-style: outset;
       border-radius: 10px;
       border-width: 2px;
       border-color: #795548;
       background-color: rgb(245, 233, 133);
       width: 300px;
       padding: 20px;
       text-align: center;
}


.shippyTips img {
    border-radius: 5px;
    border-style: inset;
    border-width: 3px;
    border-color: #afacab;
}


/* This class is used to hide/show elements*/
.hidden {
    display: none;
}



