html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-family:serif;
    color: #06c8dd;
}
#AircraftcarrierDiv{
  position: relative;
  top: 70px;
  left: -80px;
}
button{
  background-color: blue;
  color: white;
  border-radius:16px;
}
.gameBoard{
/*with:100px;
height:100px;*/
background-color: light-gray;
}

.gameBoard td {
width: 40px;
height:40px;
background-color:blue;
}

table, th, td {
   border: 1px solid black;
}

#MyBoard .ship{
background-color: orange;
}
.shippyTipsEnemy{
         float: right;
         margin-left: 20px;
         margin-top: 80px;
         border-style: outset;
         border-radius: 10px;
         border-width: 2px;
         border-color: #795548;
         color: black;
         background-color: rgb(245, 233, 133);
         width: 300px;
         padding: 20px;
         text-align: center;
}


.shippyTipsEnemy img {
    border-radius: 5px;
    border-style: inset;
    border-width: 3px;
    border-color: #afacab;
}

.shippyTipsPlayer{
         float: right;
         margin-left: 20px;
         margin-top: -465px;
         border-style: outset;
         border-radius: 10px;
         border-width: 2px;
         border-color: #795548;
         background-color: rgb(245, 233, 133);
         width: 300px;
         padding: 20px;
         text-align: center;
         text-color: black;
}


.shippyTipsPlayer img {
    border-radius: 5px;
    border-style: inset;
    border-width: 3px;
    border-color: #afacab;
}


/* This class is used to hide/show elements*/
.hidden {
    display: none;
}



.gameBoard{
    width: 900px
}
